* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body{
    background-color: white;
}


nav{
    font-size: 1.2rem;
}
nav div a h1{
    margin-left: 1rem;
}
nav div div ul li{
    margin: 0rem 1rem;
}
.seccion-index{
    background-color: #1b345b;
}

.tamaño-img-index{
    margin: 4.96rem 0rem;
}
.titulo-caja{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.titulos-index{
    color: white;
    background-color: #0d254b;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    height: 4rem;
    margin: 1rem 4rem;
    text-align: justify;
    justify-content: center;
    align-items: center ;
    border-radius: 0.2rem;
}
.section-carrusel{
    margin-top: 1rem;
    background-color: white;
}
.tamaño-carrusel{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 0.3rem;
}
.carrusel-index{
    width: 85rem;
    height: 48rem;
}


#seguirBajando{
    width: 2.2rem;
    position: relative;
    bottom: 0.6rem;
}

/*       PAGINA CREAR CUENTA      */


.titulo-principal{
    text-align: center;
    margin: 5rem;
    font-family: monospace;
    font-weight: bold;
    letter-spacing: 2px;
}


/* PÁGINA USER'S */

#listaUser {
    padding-left: 0.3rem;
    padding-right: 0.2rem;
    margin-top: 1rem;
    font-size: 1.3rem;
}
#listaUser h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 900;
}
#listaUser div{
    height: 3.3rem;
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#listaUser div ul{
    padding: 0;
}
#listaUser div ul li{
    list-style-type: none;
}

.imagen-new{
    width: 55px;
    position: absolute;
    left: 31rem;
    bottom: 37rem;
    transform: rotate(10deg);
}

#listaProcesados{
    padding-left: 0.3rem;
    padding-right: 0.2rem;
    margin-top: 1rem;
    text-align: center;
    position: relative;
    left: 27rem;
    font-size: 1.3rem;
}
#listaProcesados h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 900;
}
.datosProcesados{
    color: white;
    background-color: black;
    height: 3.3rem;
    margin-top: 0.5rem;
}